body{
    background-image: url("../Imagens/Armas\ fundo\ 5.png");
    background-size: 100%;
}

.titulo{
    border: 2px #000;
}


h1{
    text-align: center;
    background-color: #000;
    color: #fff;
}